html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
   font-size: 14px;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: transparent;
    box-shadow: none;
}

#banner{
    height:100vh;
    text-align: center;
    background: url(https://c1.staticflickr.com/4/3878/15102695852_475cee980b_b.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#banner h5,h1,h2{
  display: block;
  position: relative;
  top: 30%;
  transform: translateY(-50%);


}

@media screen and (max-width: 768px) {
    #banner h1{
        font-size:34px;
    }

    #banner h5 {
        font-size:20px;
    }
}

.skills {
    padding-top: 40px;
    background-color: #1abc9c;
    padding-bottom: 40px;
}

/* Custom HR */
.border{background:#1abc9c;width:100px;margin:0 auto;padding:1px;}

.aboutme {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Resizing the about me div for mobiles */
@media screen and (max-width: 768px) {
    .aboutme{
        padding-top: 0px;
    }
    #about-me-left{
        padding-top: 30px;
    }

    #about-me-right {
        padding-top: 40px;
    }

    #school-top{
        padding-top: 40px;
    }
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}

#projectstop {
    padding-top: 50px;
}

.school {
    padding-top: 40px;
    padding-bottom: 40px;
}

#school-top {
    padding-bottom: 40px;
}

.projects {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hobbies {
    background-color: #FACA9B;
    padding-bottom: 50px;
}

#extra-text{
    padding-top: 20px;
}

.page-footer{
    background-color: #1abc9c;
    padding-bottom: 1px;
}

#hobbies-top {
    padding-top: 40px;
    padding-bottom: 50px;
}

/* Buttons with Icons from https://codepen.io/minimalmonkey/pen/Ecpla?editors=1100 */
/* Wrapper */
#icon-button {
	background-color: white;
	border-radius: 3.6rem;
	font-size: 2.0rem;
	height: 7rem;
	width: 7rem;
    align-items: center;

    display: inline-flex; /* make element size relative to content */
    align-items: center; /* vertical alignment of contents */
    line-height: 40px; /* control height with line-height or padding */
}

#icon-button i {
    line-height: 50px;
	color: black;

}

.btn-floating {
    box-shadow: none;
}

/* Resizing the hobbie buttons for mobiles */
@media screen and (max-width: 768px) {
    #icon-button{
        margin: 20px;
    }
}

/* Bug in Carousel */
.carousel.carousel-slider.initialized {
    min-height: 40vh !important;
}

/* Fixing Letters */

#skillbtn{
    padding-bottom: 50px;
    text-align: center;
}
